name: Pipeline

on:
  push:
    branches: [ master ]

jobs:
  Coding-Convention:
    runs-on: ubuntu-latest
    steps:
      - name: Setup environment
        run: |
          sudo apt-get update
          sudo apt-get install python3.8 python3.8-venv -y
      - name: Clone repo & setup venv
        run: |
          git clone https://github.com/garretblankenship/ci-cd-review.git
          cd ci-cd-review
          python3.8 -m venv venv
      - name: Test Flake8
        run: |
          pwd
          ls
          source venv/bin/activate
          pip install flake8
          flake8 ci-cd-review/main.py
        